<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gepergee.usualtestproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <application
        android:name=".application.APPApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="TINKER_ID"
            android:value="tinker_id_6235657" />

        <activity android:name=".activity.MainActivity"></activity>

        <activity-alias
            android:name=".ElevenActivity"
            android:enabled="false"
            android:icon="@mipmap/bg_001"
            android:label="双11"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TwelveActivity"
            android:enabled="false"
            android:icon="@mipmap/bg_002"
            android:label="双12"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <activity android:name=".activity.changeLanguage.CustomViewTestActivity"></activity>

        <activity android:name=".activity.changeLanguage.CustomTextActivity"></activity>

        <activity android:name=".activity.widget.TranslateAnimActivity"></activity>

        <activity android:name=".activity.javaCallJs.JsCallJavaActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.petergee"
                    android:scheme="peter" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.recycleview.RecycleViewActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.widget.HandlerActivity"></activity>

        <activity android:name=".activity.widget.ThreadPoolTest"></activity>

        <activity android:name=".activity.widget.AsyncTaskTestActivity"></activity>

        <activity android:name=".socket.SocketTestOne"></activity>

        <activity android:name=".customview.normaluse.CustomViewActivity"></activity>

        <activity android:name=".activity.statusBar.StatusBarTestActivity"></activity>

        <activity android:name=".customview.scroller.ScrollerLayoutActivity"></activity>

        <activity android:name=".customview.CustomViewActivityTwo">

        </activity>

        <activity android:name=".glide.GlideTestActivity"></activity>

        <activity android:name=".http.NetTestActivity"></activity>

        <activity android:name=".db.DbTestActivity"></activity>
        <activity android:name=".activity.slideDelete.SlideDeleteActivity"></activity>


        <activity android:name=".activity.x5WebView.X5WebViewActivity">

        </activity>

        <activity android:name=".mvp.view.MvpTestActivity">

        </activity>

        <activity
            android:name=".activity.multiColumnList.MultiColumnListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".toolBar.ToolBarActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".activity.intentService.MyIntentService" />

        <activity
            android:name=".activity.intentService.IntentServiceActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.window.WindowActivity"></activity>

        <activity android:name=".activity.threadPool.ThreadPoolTestActivity"></activity>

        <activity android:name=".permission.DynamicPermissionActivity" />

        <activity android:name=".kotlin.KotlinTestActivity">

        </activity>

        <activity android:name=".kotlin.KotlinRecyclerViewActivity"></activity>

        <activity android:name=".activity.webView.MyWebViewActivity">
        </activity>

        <activity android:name=".customview.IndexView.CustomIndexViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>